# Walkthroughs and Exercises for *Fundamentals of Statistics with Python*

Dr. Chester Ismay

In [ ]:
# Install the packages directly if needed with pip
# Check the repo's README below for more information
!pip install numpy pandas scipy matplotlib seaborn statsmodels scikit-learn jupyter

In [1]:
import pandas as pd

# Display all columns
pd.set_option('display.max_columns', None)

# Display all outputs from each cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Week 1

## Walkthrough 1.1: Getting Started

### Setting Up the Python Environment

If you haven’t already installed Python, Jupyter, and the necessary
packages, there are instructions on the course repo in the README to do
so
[here](https://github.com/ismayc/oreilly-fundamentals-of-statistics-with-python/blob/main/README.md).

If you aren’t able to do this on your machine, you may want to check out
[Google Colab](https://colab.research.google.com/). It’s a free service
that allows you to run Jupyter notebooks in the cloud. Alternatively,
I’ve set up some temporary notebooks on Binder
([![()](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/ismayc/oreilly-fundamentals-of-statistics-with-python/main?urlpath=%2Fdoc%2Ftree%2Fexercises.ipynb))
that you can work with online as well.

In [2]:
# Importing libraries/modules and aliasing them as needed
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler, StandardScaler

### Exploring a dataset

In [3]:
# Load in the dataset
data_dev_survey = pd.read_csv("data_dev_survey.csv")

In [4]:
# Display information about the DataFrame
data_dev_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   response_id                 1183 non-null   int64
 1   work_as_dev                 1183 non-null   object
 2   age                         1183 non-null   object
 3   employment                  1183 non-null   object
 4   remote_work                 1183 non-null   object
 5   coding_activities           1182 non-null   object
 6   ed_level                    1183 non-null   object
 7   dev_type                    1183 non-null   object
 8   years_code                  1182 non-null   float64
 9   years_code_pro              1183 non-null   int64
 10  org_size                    1183 non-null   object
 11  country                     1183 non-null   object
 12  language_have_worked_with   1183 non-null   object
 13  language_want_to_work_with  1116 non-null   object
 14  op_sys_professional_use     1110 non-null   object
 15  ai_view                     1183 non-null   object
 16  ai_trust                    1183 non-null   object
 17  ic_or_manager               1183 non-null   object
 18  work_exp                    1183 non-null   int64
 19  industry                    949 non-null    object
 20  us_or_not                   1183 non-null   object
 21  plans_to_use_ai             1183 non-null   object
 22  converted_comp_yearly       1183 non-null   int64
 23  survey_completion_date      1183 non-null   object
dtypes: float64(1), int64(4), object(19)
memory usage: 221.9+ KB

### Performing basic statistical functions using NumPy, Pandas, and SciPy.

#### Using NumPy

In [5]:
# Calculate the mean of the years_code_pro column
np.mean(data_dev_survey['years_code_pro'])

7.961115807269653

In [6]:
# Calculate the median of the work_exp column
np.median(data_dev_survey['work_exp'])

7.0

In [7]:
# Calculate the standard deviation of the converted_comp_yearly column
np.std(data_dev_survey['converted_comp_yearly'])

81861.24268446874

#### Using Pandas

In [8]:
# Display summary statistics on the numeric columns of the DataFrame
data_dev_survey.describe()

,response_id,years_code,years_code_pro,work_exp,converted_comp_yearly
count,1183.000000,1182.000000,1183.000000,1183.000000,1.183000e+03
mean,43949.774303,12.534687,7.961116,9.650042,9.068442e+04
std,25327.979423,8.384094,7.153751,8.189750,8.189586e+04
min,164.000000,1.000000,0.000000,0.000000,3.000000e+00
25%,22733.000000,7.000000,3.000000,4.000000,4.159300e+04
50%,43305.000000,10.000000,6.000000,7.000000,7.271400e+04
75%,65791.000000,16.000000,10.000000,13.000000,1.200000e+05
max,89072.000000,50.000000,50.000000,48.000000,1.200000e+06

#### Using SciPy

In [10]:
# Separate the data into two groups
using_ai = data_dev_survey[ data_dev_survey['plans_to_use_ai'] == 'Using' ]\
    ['converted_comp_yearly']
plans_to_use_ai = data_dev_survey[ data_dev_survey.plans_to_use_ai == 'Plan to use']\
    ['converted_comp_yearly']

# Perform the t-test
t_stat, p_value = stats.ttest_ind(using_ai, plans_to_use_ai, equal_var=False)

# Print the results
t_stat
p_value

0.9293366153676751

0.3529304815725288

## Exercise 1.1: Getting Started

### Setting Up the Python Environment

If you ran the `# Importing libraries and aliasing them` code above, you
should be good to proceed here. If not, scroll up and run it.

### Exploring a dataset

In [ ]:
# Load in the coffee_quality dataset

In [ ]:
# Display information about the DataFrame

### Performing basic statistical functions using NumPy, Pandas, and SciPy.

#### Using NumPy

In [ ]:
# Calculate the mean of the aroma column

In [ ]:
# Calculate the median of the total_cup_points column

In [ ]:
# Calculate the standard deviation of the moisture_percentage column

#### Using Pandas

In [ ]:
# Display summary statistics on the numeric columns of the DataFrame

#### Using SciPy

In [ ]:
# Focus on only Asia and North America entries

# Separate the data into two groups


# Perform the t-test to test for difference in total_cup_points


# Print the results

------------------------------------------------------------------------

## Walkthrough 1.2: Data Summarizing

### Compute and interpret measures of central tendency

In [13]:
# Calculate center statistics for years_code_pro
# Could also use NumPy, but this is a Pandas way:
data_dev_survey.years_code_pro.mean()
data_dev_survey.years_code_pro.median()

# To extract just the value for mode
data_dev_survey.years_code_pro.mode()[0]

7.961115807269653

6.0

2

### Compute and interpret measures of variation

In [25]:
# Calculating a mean
list_of_values = [1, 2, 3, 4, 70]
#np.mean(list_of_values)
#np.median(list_of_values)

# Calculate spread statistics for years_code_pro

# Range
range_years_code_pro = data_dev_survey.years_code_pro.max() - data_dev_survey.years_code_pro.min()
range_years_code_pro

# Variance
data_dev_survey.years_code_pro.var()

# Standard deviation is the square root of variance
# In the same units as our original data
data_dev_survey.years_code_pro.std()

50

51.17615171500372

7.153750884326607

In [26]:
# Calculate the five-number summary for 'years_code_pro'
data_dev_survey.years_code_pro.min()
data_dev_survey.years_code_pro.quantile(0.25)
data_dev_survey.years_code_pro.median()
data_dev_survey.years_code_pro.quantile(0.75)
data_dev_survey.years_code_pro.max()

# Print them out

0

3.0

6.0

10.0

50

## Exercise 1.2: Data Summarizing

In [ ]:
# Calculate center statistics for 'aroma'

In [ ]:
# Calculate spread statistics for 'aroma'

In [ ]:
# Calculate the five-number summary for 'aroma'

------------------------------------------------------------------------

## Walkthrough 1.3: Data Visualization

In [ ]:
# Histogram for years_code_pro

In [ ]:
# Set the default figure size for all plots

In [ ]:
# Box plot for work_exp

In [ ]:
# Scatter plot for years_code_pro vs. converted_comp_yearly

## Exercise 1.3: Data Visualization

In [ ]:
# Histogram for acidity

In [ ]:
# Box plot for body

In [ ]:
# Scatter plot for body vs. acidity

------------------------------------------------------------------------

## Walkthrough 1.4: Sampling Distribution Generation

In [ ]:
# Think of our data as a population to draw from

# Generate a large sample from the 'converted_comp_yearly' column
# Parameters


# Set a seed to make code reproducible


# Simulate sampling distribution of the mean


# Plot the sampling distribution of the sample means

## Exercise 1.4: Sampling Distribution Generation

In [ ]:
# Think of our aroma data as a population to draw from

# Parameters



# Set random seed


# Simulate sampling distribution of the mean



# Plot the sampling distribution of the sample means

------------------------------------------------------------------------

# Week 2

## Walkthrough 2.1: Advanced Plots

In [ ]:
# Select only numeric columns

# Calculate the correlation matrix for numeric columns

# Heatmap for correlation matrix

In [ ]:
# Pair plot for selected variables 'years_code_pro', 'work_exp', 'converted_comp_yearly'

In [ ]:
# Time series plot


# Count the number of surveys completed each day

# Plot the counts as a line chart

## Exercise 2.1: Advanced Plots

In [ ]:
# Select only numeric columns

# Drop the 'clean_cup' and 'sweetness' columns since they are always 10
numeric_columns = numeric_columns.drop(columns=['clean_cup', 'sweetness'], errors='ignore')

# Calculate the correlation matrix for numeric columns


# Heatmap for correlation matrix

In [ ]:
# Pair plot for selected variables ['aroma', 'acidity', 'body']

In [ ]:
# Plot the mean total_cup_points for each grading_date

# Convert to datetime

# Extract the month and year from the grading_date column
coffee_quality['month'] = coffee_quality['grading_date'].dt.to_period('M')

# Aggregate the mean total_cup_points by month

# Plot the mean total_cup_points by month as a line chart

------------------------------------------------------------------------

## Walkthrough 2.2: EDA

### Data Cleaning

In [ ]:
# Check for missing values


# Remove duplicates if any

### Data Visualization

In [ ]:
# Histogram for years_code_pro


# Box plot for work_exp


# Scatter plot for years_code_pro vs. converted_comp_yearly

### Summary Statistics

In [ ]:
# Calculate summary statistics

## Exercise 2.2: EDA

### Data Cleaning

In [ ]:
# Check for missing values


# Remove duplicates if any

### Data Visualization

In [ ]:
# Histogram for aroma


# Box plot for acidity


# Scatter plot for aroma vs. total_cup_points

### Summary Statistics

In [ ]:
# Calculate summary statistics

------------------------------------------------------------------------

## Walkthrough 2.3: Data Preprocessing

### Inspect the Data after Loading

In [ ]:
# Display basic information about the dataset


# Display the first few rows of the dataset

### Handle Missing Values

In [ ]:
# Check for missing values


# Make a copy of the dataset for imputation

# Select only numeric columns

# Fill missing values in numeric columns with the median


# Display the first few rows of the imputed dataset

### Handling Outliers

In [ ]:
# Select only numeric columns

# Identify outliers using IQR


# Remove outliers

### Data Transformation

In [ ]:
# Normalization on converted_comp_yearly


# Standardization on work_exp


# Encoding categorical variables (country)

### Data Visualizations on Preprocessed Data

In [ ]:
# Histogram for years_code_pro


# Box plot for work_exp


# Scatter plot for years_code_pro vs. converted_comp_yearly

## Exercise 2.3: Data Preprocessing

### Inspect the Data after Loading

In [ ]:
# Display basic information about the dataset


# Display the first few rows of the dataset

### Handle Missing Values

In [ ]:
# Check for missing values


# Make a copy of the dataset for imputation


# Select only numeric columns


# Fill missing values in numeric columns with the median


# Display the first few rows of the imputed dataset

### Handle Outliers

In [ ]:
# Select only numeric columns

# Identify outliers using IQR


# Remove outliers

### Data Transformation

In [ ]:
# Normalization on total_cup_points


# Standardization on acidity


# Encoding categorical variables (country and continent of origin)

### Data Visualizations on Preprocessed Data

In [ ]:
# Histogram for aroma


# Box plot for acidity


# Scatter plot for aroma vs. total_cup_points

------------------------------------------------------------------------

## Walkthrough 2.4: Correlations

### Correlation Matrix

In [ ]:
# Select only numeric columns

# Calculate the correlation matrix

# Display the correlation matrix

### Visualize Correlations

In [ ]:
# Heatmap for correlation matrix

### Create Scatter Plots for Meaningful Correlations

In [ ]:
# Scatter plot for years_code_pro vs. years_code


# Scatter plot for work_exp vs. years_code_pro

## Exercise 2.4: Correlations

### Correlation Matrix

In [ ]:
# Select only numeric columns

# Remove clean_cup and sweetness too

# Calculate the correlation matrix

# Display the correlation matrix

### Visualize Correlations

In [ ]:
# Heatmap for correlation matrix

### Create Scatter Plots for Meaningful Correlations

In [ ]:
# Scatter plot for flavor vs. total_cup_points


# Scatter plot for overall vs. total_cup_points

------------------------------------------------------------------------

# Week 3

## Walkthrough 3.1: Simulating Distributions

### Simulating Binomial

In [ ]:
# Simulate binomial distribution

# Plot histogram

### Simulating Normal

In [ ]:
# Simulate normal distribution

# Plot histogram

## Exercise 3.1:

### Simulating Poisson

In [ ]:
# Simulate Poisson distribution with lambda (lam) parameter 3

# Plot histogram

### Simulating Exponential

In [ ]:
# Simulate exponential distribution with scale parameter 1

# Plot histogram

------------------------------------------------------------------------

## Walkthrough 3.2: t-tests

In [ ]:
# One-sample t-test checking for evidence that mu compensation > 85000

In [ ]:
# Two-sample t-test comparing compensation across plans_to_use_ai groups
# Checking for a difference

## Exercise 3.2: t-tests

In [ ]:
# One-sample t-test checking for evidence that mu flavor < 7.8

In [ ]:
# Two-sample t-test checking for difference in Columbia and Brazil total_cup_points

------------------------------------------------------------------------

## Walkthrough 3.3: Comparative Tests

In [ ]:
# Perform one-way ANOVA comparing compensation across different levels of
# remote_work

In [ ]:
# Create a contingency table of employment and remote_work


# Perform chi-square test

## Exercise 3.3: Comparative Tests

In [ ]:
# Perform one-way ANOVA comparing total_cup_points across country_of_origin

In [ ]:
# Perform a chi-square test of independence for processing_method versus
# continent_of_origin

# Create a contingency table


# Perform chi-square test

------------------------------------------------------------------------

## Walkthrough 3.4: Non-Parametric Tests

In [ ]:
# Perform Mann-Whitney U Test comparing compensation for Remote and In-person

In [ ]:
# Perform Kruskal-Wallis H Test comparing compensation across countries

## Exercise 3.4: Non-Parametric Tests

In [ ]:
# Perform Mann-Whitney U Test comparing total_cup_points for Guatemala
# and Honduras

In [ ]:
# Perform Kruskal-Wallis H Test comparing total_cup_points across 
# continent_of_origin